/* General Settings */

main {
    width: 80%;
    margin: auto;
}


/* ARTICLE SETTINGS */

.box {
    box-sizing: border-box;
    width: 33%;
    position: relative;
    margin: 50px 0 5px;
}

.ph {
    max-width: 100%;
}
.ph_hover {
    max-width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    display: none;
}

.box:hover .ph_hover{
    display:inline-block;
}

/* AddOns Properties */

.addOns {
    position: absolute;
    z-index: 30;
    text-align: center;
}
.add_container {
    left: 0;
    bottom: 3%;
    text-align: left;
}
.add_info, .add_discount {
    display: inline-block;
    padding: 8px;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}
.add_discount {
    background-color: red;
}
.add_info {
    background-color: seagreen;
}
.favorite {
    font-size: 1.5em;
    padding: 20px;
    background-color: white;
    border: none;
    right: 0;
    top: 3%;
}

/* Pricetags Setting */

h3{
    margin: 5px 0;
}

.obj_price {
    color: red;
    font-weight: bold;
}
.obj_discount {
    color: black;
    font-weight: normal;
    text-decoration: line-through;
}
